%h1 Welcome to the Posts Index!

-if current_user
    %h1 User logged in successfully
    %p You are a [#{current_user.role}]
    %li= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete
-else 
    %li= link_to "Sign up", new_user_registration_path
    %li= link_to "Sign in", new_user_session_path    
    