<div class="container px-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">New patient</h2>
      <%= render "form", patient: @patient %>
    </div>
  </div>
</div>
